node_modules
*.js
*.js.map
.metadata/
_gsdata_/
!.eslintrc.js
!jest.config.js
tsconfig.tsbuildinfo
RemoteSystemsTempFiles/.project
.clinic/
coverage/
cdisp/.vs/
cdisp/Debug/
cdisp/bin/
media/wip/
scores/
